@import "_nullstyle.scss"; //обнуляющий стиль
@import "_mixins.scss";
@import "_fonts.scss";

//LOCAL VARS
$bp9: 556px;
$bp10: 375px;
$bp11: 600px;
//END LOCAl VARS

.page {
	font-family: "Gilroy-Medium";
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	&__wrapper-1 {
		background-color: #f6f6f6;
		width: 100%;
	}
	&__content {
		max-width: 945px;
		margin: 0 auto;
		@media (max-width: $bp2) {
			margin: 0px 30px 0px 30px;
		}
	}
	&__content-1 {
		margin: 30px auto 40px auto;
		@media (max-width: $bp2) {
			margin: 30px 20px 40px 20px;
		}
	}
	&__content-2 {
		margin: 0 auto 110px auto;
		@media (max-width: $bp2) {
			margin: 0px 30px 0px 30px;
		}
	}
	&__content-3 {
		@media (max-width: $bp2) {
			margin: 0px 30px 0px 30px;
		}
	}
	&__content-4 {
		margin: 0 auto 110px auto;
		@media (max-width: $bp2) {
			margin: 0px 30px 0px 30px;
		}
	}
	&__content-vh {
		min-height: 100vh;
	}
}
.header {
	z-index: 1000;
	background-color: white;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	padding: 30px 40px 0 40px;
	&__border {
		max-width: 940px;
		margin: 0 auto;
		border-bottom: 1px solid #828282;
	}
	@media (max-width: $bp9) {
		transition: 0.5s ease;
		transform: translateX(-50%) translateY(-85%);
	}
}
.menu {
	max-width: 945px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto 32px auto;
	&-btn {
		display: none;
		@media (max-width: $bp9) {
			display: block;
		}
	}
	&__item {
		text-align: center;
		font-family: Gilroy-Bold;
		font-size: 18px;
		line-height: 22px;
		color: #828282;
		cursor: pointer;
		transition: 0.2s ease;
		&:hover {
			color: #070707;
		}
		@media (max-width: $bp9) {
			margin: 0 0 20px 0;
			&:last-child {
				margin: 0;
			}
		}
	}
	@media (max-width: $bp9) {
		margin: 0 auto 10px auto;
		justify-content: flex-start;
		flex-direction: column;
	}
}
.home {
	padding: 124px 0 0 0;
	@media (max-width: $bp11) {
		padding: 10px 0 0 0;
	}
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin: 0 0 30px 0;
		@media (max-width: $bp11) {
			flex-direction: column;
			align-items: flex-start;
			margin: 60px auto 30px auto;
		}
	}

	&__name {
		font-family: Gilroy-Bold;
		font-size: 47.3392px;
		line-height: 59px;
		@media (max-width: $bp10) {
			margin: 0 auto;
			margin-bottom: 23px;
		}
	}

	&__bio {
		margin: 0 0 8px 0;
		@media (max-width: $bp10) {
			margin: 0 auto;
			margin-bottom: 38px;
		}
	}

	&__lang {
		transform: translateX(40px) rotate(-90deg);
		cursor: pointer;
		max-height: 17px;
		margin: 0 20px 10px 0px;
		@media (max-width: $bp11) {
			transform: translateX(0px) rotate(0);
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
		@media (max-width: $bp10) {
			position: static;
			margin: 0 auto;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		object-position: center;
		object-fit: none;
	}
	&__img-container {
		width: 100%;
		max-width: 943px;
		height: 387px;
		margin: 0 auto;
	}
}
.about {
	padding: 120px 0 100px 0;
	&__title {
		margin: 0 0 18px 0;
	}

	&__text {
	}
}
.title {
	font-family: Gilroy-Bold;
	font-size: 34px;
	line-height: 42px;
}
.skills {
	padding: 90px 0 0 0;
	&__title {
		margin: 0 0 70px 0;
	}

	&__text {
		margin: 0 0 80px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: $bp3) {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media (max-width: $bp10) {
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__card {
		@media (max-width: $bp3) {
			margin: 40px;
		}
		@media (max-width: $bp10) {
			margin: 0 0 80px 0;
		}
	}
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	&__img {
		max-width: 90px;
		margin: 0 0 24px 0;
	}

	&__title {
		margin: 0 0 40px 0;
	}

	&__rating {
	}

	&__link {
		font-family: Gilroy-Medium;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		text-decoration-line: underline;
		color: black;
	}
}
.portfolio {
	padding: 110px 0 100px 0;
	&__title {
		margin: 0 0 50px 0;
	}

	&__card {
		margin: 0 auto 100px auto;
		&:last-child {
			margin: 0 auto;
		}
		.card__img {
			max-width: 937px;
			width: 100%;
			margin: 0 auto 45px auto;
		}
	}
}
.contacts {
	padding: 90px 0 0 0;
	margin: 0 auto 130px auto;
	&__title {
		margin: 0 auto 20px auto;
	}

	&__text {
		margin: 0 0 30px 0;
		&:last-child {
			padding: 0 0 30px 0;
		}
	}

	&__button {
		cursor: pointer;
		display: block;
		width: 180px;
		background: black;
		color: white;
		font-family: Gilroy-Bold;
		font-size: 18px;
		line-height: 22px;
		border-radius: 60px;
		padding: 10px 25px 14px 25px;
		margin: 0 auto 80px auto;
		transition: 0.2s ease;
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0px 10px 3px gray;
		}
		&:active {
			transform: translateY(-5px);
			box-shadow: 0px 10px 3px rgb(118, 96, 96);
		}
	}

	&__icons {
		margin: 0 auto 45px auto;
		max-width: 300px;
		display: flex;
		justify-content: space-between;
	}

	&__icon {
		max-width: 40px;
		max-height: 40px;
	}

	&__img {
		cursor: pointer;
	}

	&__text--gray-14px {
		font-size: 14px;
		line-height: 17px;
		color: #828282;
	}
}
a {
	color: inherit;
}
.lang {
	transition: 0.4s;
}
.lang-active {
	color: rgb(206, 60, 80);
}
.show-menu {
	transform: translateX(-50%) translateY(0);
}
