div,
section,
body,
img {
  display: block;
  width: 100%;
  height: 100%;
}

/*
@media (min-width: $bp1) {
}
@media (max-width: $bp1) {
}
@media (max-width: $bp2) {
}
@media (max-width: $bp3) {
}
*/
.about-us {
  background: white;
}

.about-us__illustration {
  max-width: 588px;
}

.our-team {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/team-specialty-bg.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/team-specialty-bg.webp");
  background-size: cover;
  background-position: center;
  color: white;
}

.our-team__text-regular {
  line-height: 18px;
}

.our-team__our-team__text-bold {
  font-weight: 400;
}

#bg-team {
  background: none;
  position: relative;
}

#bg-team:after {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/team-specialty-bg.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/team-specialty-bg.webp");
  background-size: cover;
  background-position: center;
}

.booking {
  background: white;
}

.booking__title {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.booking__border {
  height: 5px;
  width: 60px;
  background: #e8c300;
  border-radius: 50px;
  margin: 0 auto 20px auto;
}

.booking__subtitle {
  color: rgba(51, 51, 51, 0.5);
  font-size: 12px;
  letter-spacing: inherit;
  line-height: 12px;
}

@media (min-width: 1200px) {
  .booking {
    padding: 40px 20px 20px 20px;
  }
  .booking__subtitle div {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 1200px) {
  .booking__subtitle {
    font-size: 14px;
    margin: 20px 0 0 0;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.slider__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.specialty {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/specialty-bg.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg.webp");
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  position: relative;
}

#bg-spec {
  background: none;
  position: relative;
}

#bg-spec:after {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/specialty-bg.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg.webp");
  background-size: cover;
  background-position: center;
}

.slider-btn {
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-btn:after {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.slider-btn:before {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.slider-left-btn {
  left: 30px;
}

.slider-left-btn:after {
  left: 20px;
  -webkit-transform: rotate(-45deg) translateY(-17px);
          transform: rotate(-45deg) translateY(-17px);
}

.slider-left-btn:before {
  left: 20px;
  -webkit-transform: rotate(45deg) translateY(17px);
          transform: rotate(45deg) translateY(17px);
}

.slider-right-btn {
  right: 30px;
}

.slider-right-btn:after {
  right: 20px;
  position: absolute;
  width: 40px;
  height: 6px;
  -webkit-transform: rotate(45deg) translateY(-17px);
          transform: rotate(45deg) translateY(-17px);
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.slider-right-btn:before {
  right: 20px;
  position: absolute;
  width: 40px;
  height: 6px;
  -webkit-transform: rotate(-45deg) translateY(17px);
          transform: rotate(-45deg) translateY(17px);
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.food-menu {
  min-height: 100%;
  height: auto;
  background: white;
  padding: 100px 5.5vw;
}

@media (max-width: 1360px) {
  .food-menu {
    padding: 100px 1vw;
  }
}

.food-menu__title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}

.food-menu__border {
  height: 5px;
  width: 60px;
  background: #e8c300;
  border-radius: 50px;
  margin: 0 auto 20px auto;
}

.food-menu__text {
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  max-width: 565px;
  margin: 0 auto 50px auto;
}

.food-menu__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 50px;
  margin: 0 0 50px 0;
}

.food-menu__category {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 120px;
          flex: 0 1 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.food-menu__category:last-child {
  border: none;
}

.food-menu__tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1360px) {
  .food-menu__tables {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.food-menu__dish {
  text-align: left;
  max-width: 270px;
}

.food-menu__cost {
  text-align: right;
  width: 90px;
}

.food-menu__subtitle {
  color: rgba(51, 51, 51, 0.5);
}

.food-menu__table {
  max-width: 390px;
  border-spacing: 5px 0;
  font-size: 18px;
  line-height: 18px;
  padding: 10px;
}

.food-menu__table tr {
  vertical-align: top;
}

.food-menu__table tr td {
  padding: 0 0 35px 0;
}

.events {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/specialty-bg.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg.webp");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 80px;
  min-height: 100%;
  height: auto;
}

.events__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  text-align: center;
  line-height: 14px;
  height: 100px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.events__title-bottom {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: normal;
  text-transform: none;
  line-height: 12px;
}

.events__title-bottom > div {
  height: auto;
}

.events__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 475px;
          flex: 0 1 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events__photo {
  max-width: 475px;
  max-height: 475px;
}

.illustration__label {
  position: absolute;
  background: black;
  height: 100%;
  width: 80px;
  bottom: 0px;
  right: 0px;
  border-radius: 0 5px 5px 0;
}

.illustration__label-content {
  position: absolute;
  height: auto;
  max-width: 400px;
  width: 50vw;
  top: 30px;
  left: 50%;
  font-size: 24px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
}

.illustration__label-content-left {
  top: auto;
  bottom: 30px;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
}

.illustration__label-left {
  left: 0px;
  border-radius: 5px 0 0 5px;
}

@media (min-width: 1200px) {
  .events__photo {
    margin: 0 80px 0 0;
  }
  .events__photo:last-child {
    margin: 0;
  }
}

@media (max-width: 1300px) {
  .events__photo {
    margin: 0 40px 0 0;
  }
  .events__photo:last-child {
    margin: 0;
  }
}

@media (max-width: 1250px) {
  .events__photo {
    margin: 0 0 40px 0;
  }
  .events__photo:last-child {
    margin: 0;
  }
  .events__container {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .illustration__label-content {
    font-size: 3vw;
  }
  .illustration__label-content-left {
    bottom: 3vw;
  }
}

@media (max-width: 992px) {
  .illustration__label-content {
    font-size: 3.7vw;
  }
}

@media (max-width: 767px) {
  .events__photo {
    max-width: 55vw;
  }
  .illustration__label {
    width: 10vw;
  }
  .events {
    padding: 0 10px;
  }
}

#bg-event {
  background: none;
  position: relative;
}

#bg-event:after {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/specialty-bg.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg.webp");
  background-size: cover;
  background-position: center;
}

.gallerie {
  max-height: 360px;
  max-width: 100%;
  overflow: hidden;
}

.gallerie__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallerie__img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.gallerie__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 992px) {
  .gallerie {
    max-height: none;
    height: auto;
  }
  .gallerie__img {
    max-height: 360px;
  }
  .gallerie__container {
    max-height: none;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact {
  min-height: 100%;
  height: auto;
  background: white;
  padding: 100px 20px 30px 20px;
}

.contact__title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}

.contact__border {
  height: 5px;
  width: 60px;
  background: #e8c300;
  border-radius: 50px;
  margin: 0 auto 20px auto;
}

.contact__text {
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  max-width: 565px;
  margin: 0 auto 50px auto;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact__info {
  color: rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px 0 0;
}

.contact__info-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1300px) {
  .contact__info-row {
    font-size: 11px;
  }
}

@media (max-width: 1205px) {
  .contact__info-row {
    font-size: 10px;
  }
}

.contact__ico {
  height: 15px;
  width: 15px;
  margin: 0 5px 0 0;
}

.contact__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1210px) {
  .contact__info-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__info {
    margin: 0 0 15px 0;
  }
  .contact__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60px;
            flex: 1 1 60px;
  }
}

@media (max-width: 525px) {
  .contact__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__info-row {
    margin: 0 0 10px 0;
  }
  .contact__info-row:last-child {
    margin: 0;
  }
}

.map {
  max-height: 475px;
  height: 100%;
}

.footer {
  background: white;
  height: 100px;
}

.footer__text {
  width: 100%;
  height: 100%;
  line-height: 12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-black {
  color: black;
}
