.contacts {
	padding: 90px 0 0 0;
	margin: 0 auto 130px auto;
	&__title {
		margin: 0 auto 20px auto;
	}

	&__text {
		margin: 0 0 30px 0;
		&:last-child {
			padding: 0 0 30px 0;
		}
	}

	&__button {
		cursor: pointer;
		display: block;
		width: 180px;
		background: black;
		color: white;
		font-family: Gilroy-Bold;
		font-size: 18px;
		line-height: 22px;
		border-radius: 60px;
		padding: 10px 25px 14px 25px;
		margin: 0 auto 80px auto;
		transition: 0.2s ease;
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0px 10px 3px gray;
		}
		&:active {
			transform: translateY(-5px);
			box-shadow: 0px 10px 3px rgb(118, 96, 96);
		}
	}

	&__icons {
		margin: 0 auto 45px auto;
		max-width: 300px;
		display: flex;
		justify-content: space-between;
	}

	&__icon {
		max-width: 40px;
		max-height: 40px;
	}

	&__img {
		cursor: pointer;
	}

	&__text--gray-14px {
		font-size: 14px;
		line-height: 17px;
		color: #828282;
	}
}