.header {
	z-index: 1000;
	background-color: white;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	padding: 30px 40px 0 40px;
	&__border {
		max-width: 940px;
		margin: 0 auto;
		border-bottom: 1px solid #828282;
	}
	@media (max-width: $bp9) {
		transition: 0.5s ease;
		transform: translateX(-50%) translateY(-85%);
	}
}